@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #AAA;

  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;

  background-color: #222227;
}

::-webkit-scrollbar {
    display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.scrollable {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.active {
  color: #94DF03 !important;
}

.selected {
  background-color: #474748 !important;
}

/*Header + Footer*/
#header, #footer {
  width: 100vw;

  font-family: 'Comfortaa', cursive;
}

#header {
  height: 55px;

  padding: 5px 0px;

  background-color: #141416;

  box-shadow: 0px 2px 2px #141416;
}

#header h1 {
  margin-left: 10px;

  color: #0AA;
}

#header h2 {
  margin-left: 20px;

  font-size: 15px;
  color: #B3B3B3;
}

#footer {
  position: fixed;

  height: 22px;

  bottom: 0px;

  padding-top: 5px;

  text-align: center;
  color: #B3B3B3;

  background-color: #171718;

  box-shadow: 0px -2px 2px #141416;
}

/*Sidebar*/
#sidebar {
  z-index: 1;
  position: absolute;

  width: 210px;
  height: calc(100vh - 65px - 27px);

  padding: 0px 10px;

  background-color: #191920;

  box-shadow: 2px 0px 3px black;

  transition: margin-left 0.5s ease-out;
}

#sidebar svg {
  transition: transform 0.2s ease-out;
}

#sidebarIconBackground {
  position: absolute;

  padding: 10px 0px;

  background-color: #111112;

  transform: translate(220px, 32px);
}

.iconBackground {
  display: inline-block;
  position: relative;

  width: 24px;
  height: 24px;

  top: 2.5px;
  left: 170px;

  background-color: #040406;
}

#sidebarItems {
  width: 210px;
  height: calc(100vh - 65px - 27px - 20px);

  padding-bottom: 20px;
}

.sidebarItem {
  margin-top: 5px;
  padding: 5px;

  background-color: #121213;

  box-shadow: 2px 2px 3px black;
}

.sidebarItem h1 {
  display: inline-block;

  color: #4AA;
  font-size: 22px;
}

.sidebarItem ul {
  margin-top: 3px;

  border-top: 2px solid gray;

  list-style-type: none;
}

.sidebarItem ul li {
  padding: 5px;
  margin-top: 3px;

  text-align: center;
  font-size: 20px;

  background-color: #272728;
}

.sidebarItem ul li:hover {
  background-color: #474748;
}

.sidebarItem ul li p {
  display: inline-block;

  width: calc(100% - 35px);

  text-align: left;
  font-size: 17px;
  
  transform: translateY(-10px);
}

/*Editor*/
#editor {
  width: calc(100vw - 40px - 40px);
  height: calc(100vh - 65px - 27px - 20px - 20px - 20px - 40px);

  padding: 20px 0px;
  margin: 0px 40px;
}

/*Rows*/
#rows {
  position: relative;

  min-width: 800px;
  min-height: 100%;

  padding: 5px;

  background-color: #373738;
}

.row {
  height: 40px;

  margin-bottom: 5px;

  background-color: #272728;

  transition: all 1s ease-out, background-color 0.1s linear;
}

.row:not(.beingRemoved):hover {
  background-color: #474748;
}

.row * {
  display: inline-block;

  height: 26px;

  padding: 10px 10px 4px;
}

.row *:not(.beingRemoved):hover {
  background-color: #575758;
}

.firstRowPart {
  float: left;

  width: 45%;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.secondRowPart {
  width: calc(55% - 40px - 26px - 10px - 10px);

  color: #FF6347;
}

.thirdRowPart {
  float: right;

  padding: 8px 10px 6px;
}

/*Header row*/
#headerRow {
  height: 40px;

  margin-bottom: 5px;

  font-size: 24px;
  color: #4AA;
}

#headerRow * {
  display: inline-block;

  height: 24px;

  padding: 7px;
}

#firstHeaderPart {
  width: 45%;
}

/*Add permission*/
#addPermissionForm {
  display: flex;

  width: calc(100vw - 20px - 20px - 20px - 20px - 5px - 5px);
  height: 30px;

  margin-left: 40px;
  padding: 5px;

  background-color: #131314;

  overflow: scroll;
}

#addPermissionForm input[type="text"] {
  flex-grow: 1;

  min-width: 82px;
  height: 24px;

  padding: 2px;

  font-size: 18px;
  color: #AAA;

  background-color: #060607;

  border-bottom: 2px solid #055;

  transition: all 0.2s ease-out;
}

#addPermissionForm input[type="text"]:focus {
  border-bottom: 2px solid #0FF;
}

.checkbox {
  display: inline-block;
  position: relative;

  margin-bottom: 12px;
  padding-left: 35px;

  font-size: 22px;

  transform: translate(3px, 3px);

  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;

  height: 0px;
  width: 0px;

  cursor: pointer;
}

.checkmark {
  position: absolute;

  height: 25px;
  width: 25px;

  top: 0px;
  left: 0px;

  background-color: #EEE;
}

.checkbox:hover input ~ .checkmark {
  background-color: #CCC;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";

  display: none;
  position: absolute;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  width: 5px;
  height: 10px;

  top: 5px;
  left: 9px;

  border: solid white;
  border-width: 0px 3px 3px 0px;

  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#addPermissionForm button {
  padding: 6px 16px;

	color: white;
	font-size: 18px;
	line-height: 18px;
  letter-spacing: -0.3px;
  text-transform: uppercase;

  background-color: #0AA;

  border: none;
	border-radius: 2px;

  cursor: pointer;

  transition: all 0.2s ease-out;
}

#addPermissionForm button:hover {
  transform: scale(1.05);
}

/*Desktop*/
@media screen and (min-width: 1250px) {

  #sidebarIconBackground {
    display: none;
  }

  #editor {
    width: calc(100vw - 40px - 250px);

    margin-left: 250px;
  }

  #addPermissionForm {
    width: calc(100vw - 250px - 20px - 20px - 5px - 5px);

    margin-left: 250px;
  }

}
